*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-user-drag:none;
    user-select:none;
    font-family:sans-serif;
}
body {
    display:flex;
    justify-content:center;
}
.mainform {
    margin-top:7%;
    height:55vh;
    width:35%;
    background:#cbcbcb;
    border-radius:7px;
}
.inputs {
    margin:2% 0 0 2%;
    padding-left:.5%;
    height:5.5vh;
    width:37%;
    background:rgb(232, 232, 232);
    border:none;
    border-radius:7px;
    font-size:1em;
    outline:none;
    transition:.15s;
}
.inputs:hover {background:#FFF;}
.inputs:active {transform:scale(0.97);}
.inputs:focus {border:2px solid gray;}
.text {
    margin:4% 0 0 2%;
    font-size:1.1em;
}
.check:first-of-type {margin-top:4%;}
.check {margin-left:5%;}
.generate{
    margin:5% 0 0 5%;
    height:5vh;
    width:35%;
    background:rgb(232, 232, 232);
    border:none;
    border-radius:7px;
    font-size:1em;
    outline:none;
    transition:.15s;
}
.generate:hover {background:#FFF;}
.generate:active {transform:scale(0.97);}
.inputs1{
    margin:5% 0 0 2%;
    padding-left:.5%;
    height:5.5vh;
    width:96%;
    background:rgb(232, 232, 232);
    border:none;
    border-radius:7px;
    font-size:1em;
    outline:none;
    transition:.15s;
}