*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-user-drag:none;
    user-select:none;
    font-family:sans-serif;
}
h2{margin:1% 0 0 5%;}
.questions{
    margin:1.5% 0 0 5%;
    padding-left:.5%;
    height:22vh;
    width:40%;
    background:#b7b7b7;
    border-radius:7px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.questions h3{margin:.5% 0 0 2%;}
.questions .rb{margin:.5% 0 0 2%;}
.questions .rb label{
    margin-left:.7%;
    font-size:1em;
}
button{
    margin:1% 0 0 5%;
    width:8%;
    height:5vh;
    background:#b7b7b7;
    border:none;
    border-radius:7px;
    font-size:1em;
    outline:none;
    cursor:pointer;
    transition:.15s;
}
button:hover{background:#8d8d8d;}
button:active{transform:scale(0.925);}