*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-user-drag:none;
    user-select:none;
    font-family:sans-serif;
}
.main{
    margin:3% auto;
    width:30%;
    height:85vh;
    background:#e0e0e0;
    border-radius:7px;
    color:#2f2f2f;
    box-shadow:2px 2px 16px gray;
}
.main .maintext{text-align:center;}
.main .inputs{
    margin:3% 0 0 15%;
    padding-left:3%;
    width:70%;
    height:5vh;
    background:white;
    border:none;
    border-radius:25px;
    box-shadow:2px 2px 5px gray;
    color:#2f2f2f;
    font-size:1em;
    outline:none;
    transition:.15s;
}
.main .inputs:hover{box-shadow:4px 4px 5px gray;}
.main .inputs:active{transform:scale(0.97);}
.main .inputs:focus{border:1px solid gray;}
.main .text{
    margin:4% 0 0 10%;
    font-size:1.2em;
}
.main .rbutton{margin:2% 0 0 10%;}
.main .check{margin:2% 0 0 2%;}
.main .buttons{
    margin:13% 0 0 15%;
    padding-left:3%;
    width:70%;
    height:5vh;
    background:white;
    border:none;
    border-radius:25px;
    box-shadow:2px 2px 5px gray;
    color:#2f2f2f;
    font-size:1.1em;
    outline:none;
    transition:.15s;
}
.main .buttons:hover{box-shadow:4px 4px 5px gray;}
.main .buttons:active{transform:scale(0.97);}
.bottomtext{
    visibility:hidden;
    margin:4% 0 0 7%;
}
#userInfoTable {
    margin:3% auto;
    border-collapse:collapse;
    width:30%;
}
#userInfoTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
#userInfoTable tr:nth-child(even) {background-color: #f2f2f2;}
#userInfoTable th {
    background-color:#4CAF50;
    color:white;
    padding:8px;
}